.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  // background-image: url(https://t4.ftcdn.net/jpg/05/83/02/59/240_F_583025997_mDUxyzMh6dXYHyViAMv8IixyNZk7EDzD.jpg);
  background-image: url("/images/pinkbarbells.jpg");
  background-repeat: no-repeat;
  background-position: right 264px center;
  background-size: 240px;
  min-width: 100%;
  // min-width: 600px;

  @media (max-width: 1600px) {
    background-position: right 200px center;
  }

  @media (max-width: 1200px) {
    background-image: none;
  }

  .large-statement {
    font-size: 3.5rem;
    font-weight: 900;

    @media (max-width: 600px) {
      font-size: 2rem;
      width: 80%;
      min-width: 80%;
    }

    @media (max-width: 400px) {
      font-size: 1rem;
      width: 80%;
      min-width: 60%;
    }
  }

  .small-statement {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
  }

  .second-message {
    font-size: 20px;
    font-weight: 800;
    color: rgb(187, 17, 209);
    padding-bottom: 20px;
  }

  button {
    font-size: 1.5rem;

    color: white;
    background-color: black;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    transition: color 0.3s ease-in-out;

    @media (max-width: 1000px) {
      width: 60%;
    }

    @media (max-width: 500px) {
      font-size: 1rem;
      width: 60%;
    }
  }

  button:hover {
    color: rgb(187, 17, 209);
    cursor: pointer;
  }

  .decorative-line {
    height: 4px; /* Set the height of the line */
    width: 40%; /* Set the width of the line */
    background-color: rgb(187, 17, 209); /* Set the color of the line */
    margin: 30px auto; /* Adjust margin as needed */
    border-top: solid 1px black;
    overflow: visible;
  }
}

.background-transparent {
  // background-image: url(https://t4.ftcdn.net/jpg/05/83/02/59/240_F_583025997_mDUxyzMh6dXYHyViAMv8IixyNZk7EDzD.jpg);
  background-image: url("/images/pinkbarbells.jpg");
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  background-color: transparent;
  // z-index: 500;
}
